#reload {
    position: absolute;
    bottom: 30px
}

.botao_estilo {
    border-radius: 50%;
    border: none;
    text-align: center;
    display: table-cell;
    font-size: 16px;
    margin: 4px 2px;
    padding: 30px 16px;
    cursor: pointer;
    font-family: "comic sans ms";
}

#ola {
    background: #66ff66;
}

#ola1 {
    background: #00ffff;
}

#ola2 {
    background: #ff66ff;
}

#ola3 {
    background: #ff9966;
}

#adeus {
    background: #ccff66;
}

#send {
    background: #cc99ff;
}

#caixa {
    background: #0066ff;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 5px;
    font-size: 1px;
    color: #fff;
    left: 125px;
}

#inicio {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

p {
    background: white;
    font-size: initial;
    color: darkslategrey;
    font-family: "comic sans ms";
}